<link rel="stylesheet" href="index.css">
  
<% if(locals.user){ %>
    <h1>My name is <%= user.name %></h1>
    <a href="/profile">profile</a>
    <a href="/sign-out">signout</a>
    <% }else{ %>
        <a href="/sign-up">Sign up</a>
        <a href="/sign-in">sign in</a>
        <% } %>

   
   
   
